<!DOCTYPE html>
<html ng-app="app" ng-controller="DemoController as vm">
<head lang="en">
    <meta charset="UTF-8">
</head>
<style>
    .tk-list-view {
        background: gray;
        display: block;
        height: 300px;
        width: 250px;
        overflow: auto;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="app-module.js"></script>
<script src="demo-controller.js"></script>
<script src="../../src/list-view.js"></script>
<script src="../../src/tk-repeat.js"></script>
<body>
<button ng-click="vm.unshift()">unshift to list</button>
<button ng-click="vm.push()">push to list</button>
<tk-list-view class="tk-list-view" src="l in vm.list" on-click="vm.clicker">
    <div style="padding: 25px;">
        {{l.num}} (index {{$index}})
    </div>
</tk-list-view>
</body>
</html>